@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --z-modal: 50;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --tooltip: 240 10% 3.9%;
    --tooltip-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 195 100% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --tint-purple: #E8E0FF;
    --badge-purple: #AB8DFF;
    --tint-pink: #FFE7FD;
    --badge-pink: #FF8EF5;
    --tint-red: #FFE7EE;
    --badge-red: #FF85A9;
    --tint-lime: #F5FFDC;
    --badge-lime: #C6EC41;
    --tint-green: #DDFFD6;
    --badge-green: #74F37D;
    --tint-aqua: #DEFFF1;
    --badge-aqua: #40F0D1;
    --tint-blue: #E1FBFF;
    --badge-blue: #00C8FF;
    --tint-orange: #FFEFE3;
    --badge-orange: #FFBC7E;
    --tint-yellow: #FFF2CD;
    --badge-yellow: #FCD86F;
    --selection: #e0f8ff;
  }

  :root[data-editor-theme="dark"] {
    --background: 220 26% 14%;
    --foreground: 0 0% 98%;
    --card: 220 26% 14%;
    --card-foreground: 0 0% 98%;
    --tooltip: 231 30% 8%;
    --tooltip-foreground: 0 0% 98%;
    --popover: 220 26% 14%;
    --popover-foreground: 0 0% 98%;
    --primary: 193 100% 47%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 215 28% 23%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 218 30% 31%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.3);
    --gradient1: linear-gradient(233deg, #34BDAF 0%, #B682D5 100%);
    --gradient2: linear-gradient(180deg, #4CC2CC 0%, #E17570 100%);
    --gradient3: linear-gradient(180deg, #AF70E1 0%, #ED7196 100%);
    --gradient4: linear-gradient(180deg, #A348D6 0%, #45A7DF 100%);
    --gradient5: linear-gradient(56.2deg, #5749CA 0%, #BB4A97 100%);
    --gradient6: linear-gradient(180deg, #036FFA 0%, #00B8E5 100%);
    --gradient7: linear-gradient(38.2deg, #F0C6CF 0%, #DECCE2 40.4754%, #CAD3F9 100%);
    --tint-red: #C42A534D;
    --badge-red: #C42A53;
    --tint-green: #23CA2E4D;
    --badge-green: #23CA2E;
    --tint-purple: #502FD64D;
    --badge-purple: #502FD6;
    --tint-blue: #04A9D74D;
    --badge-blue: #04A9D7;
    --tint-yellow: #C59A1A4D;
    --badge-yellow: #C59A1A;
    --tint-pink: #BF1CC04D;
    --badge-pink: #BF1CC0;
    --tint-lime: #A4C8244D;
    --badge-lime: #A4C824;
    --tint-aqua: #19CCAC4D;
    --badge-aqua: #19CCAC;
    --tint-orange: #D779224D;
    --badge-orange: #D77922;
    --selection: #005174;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.appflowy-editor {
  @apply h-full overflow-hidden;
  [role="textbox"] {
    @apply flex-1 overflow-auto;
  }

  div[data-slate-node="element"] {
    @apply py-1 relative;
  }

  div[data-slate-node="element"] div[data-slate-placeholder="true"] {
    @apply leading-[2em];
  }


  div[data-block-type='quote'] {
    border-left: 4px solid var(--fill-default);
  }

  div[data-block-type='quote'] {
    @apply pl-3 ml-2;
  }

  div[data-slate-node="element"] > div[data-slate-node="element"] {
    padding-left: 1.5em;
  }

  div[data-slate-node="element"] > div[data-slate-node="element"]:first-child {
    padding-left: 0;
  }

  div[data-block-type="heading"][data-level="1"] {
    @apply py-[8px] text-[2rem] max-md:text-[24px] font-semibold;
  }


  div[data-block-type="heading"][data-level="2"] {
    @apply py-[6px] text-[1.75rem] max-md:text-[22px] font-semibold;
  }

  div[data-block-type="heading"][data-level="3"] {
    @apply py-[4px] text-[1.5rem] max-md:text-[20px] font-semibold;
  }

  div[data-block-type="heading"][data-level="4"] {
    @apply py-[4px] text-[1.25rem] max-md:text-[16px] font-semibold;
  }

  div[data-block-type="heading"][data-level="5"] {
    @apply py-[2px] text-[1.125rem] font-semibold;
  }

  div[data-block-type="heading"][data-level="6"] {
    @apply py-[2px] text-[1rem] font-semibold;
  }


  div[data-block-type="numbered_list"] > span:first-child {
    &:after {
      content: attr(data-number) ".";
      font-weight: 500;
    }
  }

  div[data-block-type="todo_list"][data-checked="true"] {
    text-decoration: line-through;
    color: hsl(var(--muted-foreground));
  }
}
