@import "./variables/light.variables.css";
@import "./variables/dark.variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-slate-node="element"] {
    @apply py-1;

}


div[data-block-type='quote'] {
    border-left: 4px solid var(--fill-default);
}

div[data-block-type='quote'] {
    @apply pl-3 ml-2;
}

div[data-slate-node="element"] > div[data-slate-node="element"] {
    padding-left: 1.5em;
}

div[data-slate-node="element"] > div[data-slate-node="element"]:first-child {
    padding-left: 0;
}

div[data-block-type="heading"][data-level="1"] {
    @apply py-[8px] text-[2rem] max-md:text-[24px] font-semibold;
}


div[data-block-type="heading"][data-level="2"] {
    @apply py-[6px] text-[1.75rem] max-md:text-[22px] font-semibold;
}

div[data-block-type="heading"][data-level="3"] {
    @apply py-[4px] text-[1.5rem] max-md:text-[20px] font-semibold;
}

div[data-block-type="heading"][data-level="4"] {
    @apply py-[4px] text-[1.25rem] max-md:text-[16px] font-semibold;
}

div[data-block-type="heading"][data-level="5"] {
    @apply py-[2px] text-[1.125rem] font-semibold;
}

div[data-block-type="heading"][data-level="6"] {
    @apply py-[2px] text-[1rem] font-semibold;
}


div[data-block-type="numbered_list"] > span:first-child {
    &:after {
        content: attr(data-number) ".";
        font-weight: 500;
    }
}

div[data-block-type="todo_list"][data-checked="true"] {
    text-decoration: line-through;
    text-decoration-color: var(--text-caption);
    color: var(--text-caption);
}